.layui-input{
	width:8%;
	margin-right:30px;
	display:inline;
}
.layui-table{
	text-align:center;
	margin:5px 0px;
}
#topDiv{
	padding-left:20px;
	margin:10px 0px;
	text-align:left;
	color:#c7c5c0;
}
#searchBut{
	border-color:#0C4C7D;
}
#printBut{
	border-color:#0C4C7D;
}
.run_container{
	background-color:#002034 !important;
}
.box{
	border-top:none !important;
	
}
h4{
	color:white;
}
#msg{
	text-align:center;
	color:red;
}