#topDiv{
	margin:16px 0px 0px 0px;
	color:white;
}
.proSpan{
	margin-left:20px;
}
#searchBut{
	border-color:#006DC0;
	margin-left:20px;
	color:white;
}
#searchLogBut{
	border-color:#006DC0;
	margin-left:20px;
	color:white;
}
#printBut{
	border-color:#006DC0;
	margin-left:20px;
	color:white;
}
#hiddenTopDiv{
	padding:6px 0px 6px 10px;
}
#param{
	width:30%;
	margin-left:50px;
	display:inline;
}
#paramBut{
	border-color:#006DC0;
	margin-left:20px;
	color:white;
}
#line{
	margin:0px;
	border-top:1px solid #006DC0;
}
.lineSpan{
	margin-left:10px;
}